.widget-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #000;
}
