.searchResults-box {
  max-width: 60vw;
  margin: 0 auto;
}

.searchResults-grid-container {
  min-width: 100%;
  display: flex;
  text-align: left;
  align-items: start;
  padding: 15px;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.searchResults-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchResults-icon {
  margin-right: 10px;
}
