.App {
  text-align: center;
  background-color: #212529;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  color: #fca511;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  cursor: pointer;
}

.clickable {
  color: inherit
}

.clickable:hover {
  cursor: pointer;
  color: black;

}

