/*
dark-grey - #212529
orange - #FCA511 

*/

.App {
  text-align: center;
  background-color: #212529;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  color: #FCA511;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


